In [2]:
import pandas as pd

In [3]:
#Lecture du fichier CSV avec encodage latin
df = pd.read_csv("Nexa_Store_Dataset_0.2.csv", encoding="latin", low_memory=False )

In [4]:
#Visualisation des premières lignes du DataFrame
df.head()

,ID de ligne,ID de commande,DaTe de commande,Date dexpedition,Mode dexpedition,iD client,Nom du client,Segment de marche,Ville,Etat / province,...,Ventes,Quantite,remise,Profit,Cout dexpedition,Priorite de la commande,Sous-categorie.1,Nom du Produit.1,Unnamed: 26,Source de la commande
0,45271,TZ-2014-6820,06-11-2024,08-11-2024,Premiere classe,LT-7110,Liz Thompson,Client particulier,Mwanza,Mwanza,...,"84,3",-2,0.0,27.78,7.93,Moyen,Accessoires,"Belkin Flash Drive, USB",NaN,en ligne
1,45637,SG-2014-4440,09-10-2024,10-10-2014,Premiere classe,GH-4425,Gary Hwang,Client particulier,Dakar,Dakar,...,81.69,1,0.0,4.89,16.18,Critique,Accessoires,"Belkin Keyboard, Erganomic",NaN,en ligne
2,45638,SG-2014-4440,09-10-2024,10-10-2024,Premiere classe,GH-4425,Gary Hwang,Client particulier,Dakar,Dakar,...,58.83,1,0.0,"6,45",14.62,Critique,Accessoires,"Enermax Numeric Keypad, Erganomic",NaN,en ligne
3,45945,CG-2013-2440,06-11-2023,08-11-2023,Premiere classe,EJ-3720,Ed Jacobs,Client particulier,Kisangani,Orientale,...,29.28,1,0.0,13.17,"2,92",Moyen,Accessoires,"Logitech Mouse, Bluetooth",NaN,en ligne
4,46149,EG-2014-5980,19-09-2024,20-09-2024,Premiere classe,CR-2730,Craig Reiter,Client particulier,Cairo,Al Qahirah,...,415.08,4,0.0,58.08,122.41,Eleve,Accessoires,"Memorex Memory Card, Programmable",NaN,en ligne

In [5]:
#Affichage des informations sur le DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51229 entries, 0 to 51228
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID de ligne              51229 non-null  int64
 1   ID de commande           51229 non-null  object
 2   DaTe de commande         51229 non-null  object
 3   Date dexpedition        51229 non-null  object
 4   Mode dexpedition        51229 non-null  object
 5   iD client                51229 non-null  object
 6   Nom du client            51229 non-null  object
 7   Segment de marche        51229 non-null  object
 8   Ville                    51229 non-null  object
 9   Etat / province          51229 non-null  object
 10  Pays                     51229 non-null  object
 11  Code postal              10001 non-null  float64
 12  Marche                   51229 non-null  object
 13  Region                   51229 non-null  object
 14  Id du Produit            51229 non-null  object
 15  categorie                51229 non-null  object
 16  Sous-categorie           51229 non-null  object
 17  Nom du Produit           51229 non-null  object
 18  Ventes                   51229 non-null  object
 19  Quantite                 51229 non-null  int64
 20  remise                   51229 non-null  float64
 21  Profit                   51229 non-null  object
 22  Cout dexpedition        51229 non-null  object
 23  Priorite de la commande  51229 non-null  object
 24  Sous-categorie.1         51229 non-null  object
 25  Nom du Produit.1         51229 non-null  object
 26  Unnamed: 26              0 non-null      float64
 27  Source de la commande    51229 non-null  object
dtypes: float64(3), int64(2), object(23)
memory usage: 10.9+ MB

In [6]:
#Affichage des statistiques descriptives du DataFrame
df.describe()

        ID de ligne   Code postal      Quantite        remise  Unnamed: 26
count  51229.000000  10001.000000  51229.000000  51229.000000          0.0
mean   25605.715766  55195.557044      3.477444      0.143343          NaN
std    14790.028551  32066.296709      2.280144      0.212976          NaN
min        1.000000   1040.000000    -12.000000      0.000000          NaN
25%    12804.000000  23223.000000      2.000000      0.000000          NaN
50%    25593.000000  56560.000000      3.000000      0.000000          NaN
75%    38390.000000  90008.000000      5.000000      0.200000          NaN
max    51290.000000  99301.000000     14.000000      1.700000          NaN

In [11]:
#liste des colonnes
columns = df.columns.tolist()
columns

['ID de ligne',
 'ID de commande',
 'DaTe de commande',
 'Date d\x92expedition',
 'Mode d\x92expedition',
 'iD client',
 'Nom du client',
 'Segment de marche',
 'Ville',
 'Etat / province',
 'Pays',
 'Code postal',
 'Marche',
 'Region',
 'Id du Produit',
 'categorie',
 'Sous-categorie',
 'Nom du Produit',
 'Ventes',
 'Quantite',
 'remise',
 'Profit',
 'Cout d\x92expedition',
 'Priorite de la commande',
 'Sous-categorie.1',
 'Nom du Produit.1',
 'Unnamed: 26',
 'Source de la commande']

In [ ]:
#Analyse des valeurs manquantes dans chaque colonne
missing_values = df.isnull().sum()
missing_values

In [12]:
# Exploration des valeurs uniques dans la colonne 'ID de ligne'
df['ID de ligne'].unique()

array([45271, 45637, 45638, ..., 39465, 40584, 41196])

In [13]:
#Exploration des valeurs uniques dans la colonne 'ID de commande'
df['ID de commande'].unique()

array(['TZ-2014-6820', 'SG-2014-4440', 'CG-2013-2440', ...,
       'US-2012-138919', 'CA-2013-154662', 'US-2011-117380'], dtype=object)

In [15]:
#Exploration des valeurs uniques dans la colonne 'DaTe de commande'
df['DaTe de commande'].unique()

array(['06-11-2024', '09-10-2024', '06-11-2023', ..., '08-09-2023',
       '24-04-2021', '23-03-2024'], dtype=object)

In [16]:
#exploration des valeurs uniques dans la colonne 'Date d\x92expedition'
df['Date d\x92expedition'].unique()

array(['08-11-2024', '10-10-2014', '10-10-2024', ..., '31-07-2023',
       '06-01-2021', '05-01-2021'], dtype=object)

In [17]:
3#Exploration des valeurs uniques dans la colonne 'Mode d\x92expedition'
df['Mode d\x92expedition'].unique()

array(['Premiere classe', 'Meme jour', 'Deuxieme classe',
       'Classe standard'], dtype=object)

In [18]:
#Exploration des valeurs uniques dans la colonne 'iD client'
df['iD client'].unique()

array(['LT-7110', 'GH-4425', 'EJ-3720', ..., 'BD-1605', 'ME-8010',
       'BG-1035'], dtype=object)

In [ ]:
#Exploration des valeurs uniques dans la colonne 'Nom du client'
df['Nom du client'].unique()

In [ ]:
#Exploration des valeurs uniques dans la colonne 'Segment de marche'
df['Segment de marche'].unique()

In [22]:
#Exploration des valeurs uniques dans la colonne 'Etat / province'
df['Etat / province'].unique()

array(['Mwanza', 'Dakar', 'Orientale', ..., 'Kastamonu', 'Cojedes',
       'Casanare'], dtype=object)

In [ ]:
#Exploration des valeurs uniques dans la colonne 'Pays'
df['Pays'].unique()

In [ ]:
#Exploration des valeurs uniques dans la colonne 'Code postal'
df['Code postal'].unique()

In [26]:
#Exploration des valeurs uniques dans la colonne 'Marche'
df['Marche'].unique()

array(['Afrique', 'APAC', 'Canada', 'Europe Moyen-Orient et Afrique',
       'EMEA', 'EU', 'LATAM', 'US', 'Amerique Latine', 'Asie Pacifique'],
      dtype=object)

In [27]:
#Exploration des valeurs uniques dans la colonne 'Region'
df['Region'].unique()

array(['Afrique', 'Nord Asie', 'Centre Asie', 'SudEst Asie', 'Oceanie',
       'Canada', 'EMEA', 'Centre', 'Nord', 'Sud', 'Caraibes', 'Est',
       'Ouest'], dtype=object)

In [28]:
#Exploration des valeurs uniques dans la colonne 'Id du Produit'
df['Id du Produit'].unique()

array(['TEC-BEL-10001971', 'TEC-BEL-10003177', 'TEC-ENE-10002686', ...,
       'FUR-TA-10004152', 'FUR-TA-10001691', 'FUR-TA-10004175'],
      dtype=object)

In [29]:
#Exploration des valeurs uniques dans la colonne 'categorie'
df['categorie'].unique()

array(['Technologie', 'Fournitures de bureau', 'Mobilier', 'Technlogie',
       'Fournitures de buro'], dtype=object)

In [30]:
#Exploration des valeurs uniques dans la colonne 'Sous-categorie'
df['Sous-categorie'].unique()

array(['Accessoires', 'Appliances', 'Art', 'Rangements', 'Bibliotheques',
       'Chairs', 'Photocopieurs', 'Enveloppes', 'Agrafes', 'decoration',
       'Etiquettes', 'Machines', 'Papier', 'Telephones', 'Rangement',
       'Fournitures de bureau', 'Tables'], dtype=object)

In [31]:
#Exploration des valeurs uniques dans la colonne 'Nom du Produit'
df['Nom du Produit'].unique()

array(['Belkin Flash Drive, USB', 'Belkin Keyboard, Erganomic',
       'Enermax Numeric Keypad, Erganomic', ...,
       'Barricks Non-Folding Utility Table with Steel Legs, Laminate Tops',
       'Hon 30" x 60" Table with Locking Drawer',
       'Riverside Furniture Oval Coffee Table, Oval End Table, End Table with Drawer'],
      dtype=object)

In [ ]:
#Exploration des valeurs uniques dans la colonne 'Ventes'
df['Ventes'].unique()

array(['84,3', '81.69', '58.83', ..., '2036.86', '457.485', '-330.588'],
      shape=(22999,), dtype=object)

In [ ]:
#Exploration des valeurs uniques dans la colonne 'Quantite'
df['Quantite'].unique()

array([ -2,   1,   4,  14,   2,   8,   6,  10,   7,   3,   5,   9,  13,
        11,  12, -10, -11,  -3,  -4, -12])

In [ ]:
#Exploration des valeurs uniques dans la colonne 'Remise'
df['remise'].unique()

array([0.   , 1.7  , 0.7  , 0.47 , 0.5  , 0.1  , 0.45 , 0.4  , 0.6  ,
       0.2  , 0.17 , 0.15 , 0.8  , 0.27 , 0.07 , 0.35 , 0.37 , 0.3  ,
       0.32 , 0.25 , 0.65 , 0.002, 0.402, 0.202, 0.602, 0.55 , 0.57 ,
       0.85 ])

In [32]:
#Exploration des valeurs uniques dans la colonne 'Profit'
df['Profit'].unique()

array(['27.78', '4.89', '6,45', ..., '366.6348', '-84.9615', '-143.2548'],
      dtype=object)

In [34]:
#Exploration des valeurs uniques dans la colonne 'Cout d'expedition'
df['Cout d\x92expedition'].unique()

array(['7.93', '16.18', '14.62', ..., '21.24', '75.37', '524.76'],
      dtype=object)

In [ ]:
#Exploration des valeurs uniques dans la colonne 'Priorite de la commande'
df['Priorite de la commande'].unique()

array(['Moyen', 'Critique', 'Eleve', 'Moten', 'Critic', 'Faible',
       'Moyenne', 'moyen'], dtype=object)

In [37]:
#Exploration des valeurs uniques dans la colonne 'Sous-categorie.1'
df['Sous-categorie.1'].unique()

array(['Accessoires', 'Appliances', 'Art', 'Rangements', 'Bibliotheques',
       'Chairs', 'Photocopieurs', 'Enveloppes', 'Agrafes', 'decoration',
       'Etiquettes', 'Machines', 'Papier', 'Telephones', 'Rangement',
       'Fournitures de bureau', 'Tables'], dtype=object)

In [36]:
#Exploration des valeurs uniques dans la colonne 'Nom du Produit.1'
df['Nom du Produit.1'].unique()

array(['Belkin Flash Drive, USB', 'Belkin Keyboard, Erganomic',
       'Enermax Numeric Keypad, Erganomic', ...,
       'Barricks Non-Folding Utility Table with Steel Legs, Laminate Tops',
       'Hon 30" x 60" Table with Locking Drawer',
       'Riverside Furniture Oval Coffee Table, Oval End Table, End Table with Drawer'],
      dtype=object)

In [35]:
#Exploration des valeurs uniques dans la colonne 'Source de la commande
df['Source de la commande'].unique()

array(['en ligne'], dtype=object)